<mat-toolbar color="primary" [fxLayoutAlign]="(settings.menuType != 'mini') ? 'space-between center' : 'center center'"
    class="sidenav-header">
    <img src="/assets/img/img_login/logo_tributo_white.png" width="150px">

</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="center center" class="user-block transition-2" [class.show]="settings.sidenavUserBlock">
    <div [fxLayout]="(settings.menuType != 'default') ? 'column' : 'row'" [fxLayoutAlign]="(settings.menuType != 'default') ? 'center center' : 'space-around center'"
        class="user-info-wrapper">
        <img [src]="userImage" alt="user-image">
        <div class="user-info">
            <p class="name" style="top: 15px;
            position: relative; color: white">{{primernombre + " "+primerapellido}}</p>
            <p *ngIf="settings.menuType == 'default'" class="position" style="color: white">{{tipoPersona}}<br> <small style="color: white" class="muted-text">{{tipo}}
                    - {{identificacion}}</small></p>
        </div>
    </div>

</div>

<perfect-scrollbar #sidenavPS class="sidenav-menu-outer" [class.user-block-show]="settings.sidenavUserBlock">
    <span *ngIf="!menuItems">loading....</span>
    <app-vertical-menu [menuItems]="menuItems" [menuParentId]="0" (onClickMenuItem)="updatePS($event)"></app-vertical-menu>
</perfect-scrollbar>